{% extends "jobs/_v2/_base_jobs.html" %}

{% block page_title %}Update Jobs - {{ super() }}{% endblock %}

{% block page_main %}
<div class="content-main">
    {% if not user.is_authenticated() %}
    <h1 class="page-title-lead">Source jobs</h1>

    <div class="mod main-lead">
        <p>If you&rsquo;ve asked us to create an admin account so you can post jobs and manage information about your organization, log in with your email address here.</p>

        <form class="form-submit" action="{{ url('job_send_login_link') }}" method="post">
            {% csrf_token %}
            <p><input type="email" value="" name="email" required></p>
            <p><input type="submit" value="Send me a login link"></p>
        </form>
        
        {% if messages %}
            {% for message in messages %}
            <p>{{ message|safe }}</p>
            {% endfor %}
        {% endif %}
    </div><!-- /end .mod.main-lead -->
    {% endif %}

    {% if error_message %}
    <div class="mod">
        <p>{{ error_message }}</p>
        <p><a href="{{ url('logout') }}?next={{request.get_full_path()}}">Log out</a></p>
    </div>

    {% elif user.is_authenticated() and user.is_active %}

    <h1 class="page-title-lead">{{ organization.name }} jobs</h1>

    <div class="mod main-lead">
        {% if messages %}
            {% for message in messages %}
            <p>{{ message|safe }}</p>
            {% endfor %}
        {% else %}
            <p>{% if job %}Edit listing on Source: {{ job.name }}{% else %}Post a new job on Source{% endif %}</p>
        {% endif %}
    </div><!-- /end .mod.main-lead -->

    <div class="mod">
        {% if form.errors %}<p class="msg-error">Oh no! There were a few errors with your submission. Mind double-checking the form, and filling out all the required fields?</p>{% endif %}
        {% for error in form.errors %}{{ error }}{% endfor %}
        
        <form class="form-submit" method="post" action="{{ url('job_update') }}" id="job_update_form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="job" value="{{ job.pk|default('') }}">
            <input id="job_update_task" type="hidden" name="task" value="">

            <fieldset>
                <legend>Basic details for this listing</legend>
                
                <p>
                    <label for="new_job_name">Job name:</label>
                    <input id="new_job_name" value="{{ job.name|default('') }}" type="text" name="name" maxlength="128" />
                </p>
                <p>
                    <label for="new_job_location">Job location:</label>
                    <input id="new_job_location" value="{{ job.location|default(organization.location) }}" type="text" name="location" maxlength="128" />
                </p>

                <p>
                    <label for="new_job_url">Job page URL:</label>
                    <input id="new_job_url" value="{{ job.url|default('') }}" type="text" name="url" maxlength="200" />
                </p>
            </fieldset>

            <fieldset>
                <legend>A couple sentences for the Source jobs page</legend>

                <p>
                    <label for="new_job_description">Job description:</label>
                    <textarea id="new_job_description" rows="5" name="description">{{ job.description|default('') }}</textarea>
                </p>
            </fieldset>
                
            <fieldset>
                <legend>Listings run for one month by default</legend>

                <p>
                    <label for="new_job_listing_end_date">Expiration date:</label>
                    <input id="new_job_listing_end_date" value="{{ job.listing_end_date|default(default_job_listing_end_date) }}" type="date" name="listing_end_date" />
                </p>
            </fieldset>

            <fieldset>
                <legend>Contact information for applicants</legend>

                <p>
                    <label for="new_job_contact_name">Contact name:</label>
                    <input id="new_job_contact_name" value="{{ job.contact_name|default('') }}" type="text" name="contact_name" maxlength="128" />
                </p>
                <p>
                    <label for="new_job_email">Contact email:</label>
                    <input id="new_job_email" value="{{ job.contact_email|default(organization.email) }}" type="text" name="email" maxlength="75" />
                </p>
            </fieldset>

            {% if job %}
                <p><input type="submit" value="Update Job listing"></p>
                <p><input type="button" value="Delete" onclick="confirmJobRemove();"></p>
            {% else %}
                <p><input type="submit" value="Add Job Listing"></p>
            {% endif %}
        </form>
    </div>

    {% elif user.is_authenticated() %}
        <p>Sorry, no organization account found for this email address.</p>
        <p><a href="{{ url('logout') }}?next={{request.get_full_path()}}">Log out</a></p>
    {% endif %}
</div><!-- /end .content-main -->

{% if user.is_authenticated() and user.is_active %}
<div class="content-aside">
    <div class="mod">
        <h2 class="hed-label">Edit current job listings</h2>
        {% if organization.get_live_job_set().exists() %}
        <ol class="list-recently">{% for job in organization.get_live_job_set() %}
            <li class="item-recent">
                <h3 class="hed-aside">
                    <a class="has-icon icon-doc" href="{{ url('job_update') }}?job={{ job.pk }}">{{ job.name|smartypants }}</a>
                </h3>
                <p class="has-icon">Posted {{ job.listing_start_date|simple_datesince }}</p>
            </li>{% endfor %}
        </ol>
        {% endif %}
        <p>No open jobs listed right now. Use the form at left to add one!</p>
    </div>
    <div class="mod">
        <p><a href="{{ url('logout') }}?next={{request.get_full_path()}}">Log out</a></p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block body_extra %}
<script type="text/javascript">
function confirmJobRemove(jobID) {
    if (confirm('Are you sure you want to delete this job listing?')) {
        document.getElementById("job_update_task").value = "delete";
        document.getElementById("job_update_form").submit();
    }
}

function sendLoginLink() {

    $.ajax({
        type: "POST",
        url: "{{ url('job_send_login_link') }}",
        data: formData,
        dataType: "json",
        success: function(response) {
            if (response['message'] != 'Saved!' && response['message'] != 'Removed') {
                statusMsg.addClass('error-message').hide().appendTo(submitContainer).fadeIn();
                alertSave(statusMsg, response['message'], true);
            } else {
                toggleEditForm(nameContainer);
                submitContainer.closest('.object-edit').find('h5').text(response['job']['name']);
                nameContainer.append(statusMsg);
                alertSave(statusMsg, response['message']);
            }
        },
        error: function(response) {
            nameContainer.append(statusMsg);
            alertSave(statusMsg, 'Error saving...');
        }
    });
}
</script>
{% endblock %}
