{% extends "articles/_v2/_base_articles.html" %}

{% block page_main %}{# block begins inside div.page-main #}
            <div class="content-main">
                <h1 class="page-title-lead">Articles</h1>

                <div class="mod main-lead">
                    <p>Projects walkthroughs, tool teardowns, interviews, and more.</p>
                </div><!-- /end .mod.main-lead -->

                <div class="mod">{% if section or tags %}
                    <h2 class="hed-label">{% if section %}{{ section.name }}{% elif tags %}Articles tagged: {% for tag in tags %}{{ tag.name|smartypants }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</h2>{% endif %}

                    <ol class="list-articles">{% for article in page.object_list %}
                        <li>
                            <a href="{{ article.get_absolute_url() }}">
                                {% if article.image %}<img src="{{ MEDIA_URL }}{{ thumbnail(article.image, "300x200", crop="center") }}" alt="" />{% endif %}
                                <h3 class="hed-article-title">{{ article.title|typogrify }}</h3>
                                <h4 class="hed-article-subhed">By {% for author in article.get_live_author_set() %}{% if loop.last and not loop.first %} and {% endif %}<a href="{{ author.get_absolute_url() }}">{{ author.name()|smartypants }}</a>{% if not loop.last and loop.length != 2 %}, {% endif %}{% endfor %}</h4>

                                <div class="summary">
                                    <span class="list-when"><span class="a11y">Posted on </span> <time datetime="{{ article.pubdate.strftime('%Y-%m-%d') }}">{{ article.pretty_pubdate|typogrify }}</time></span>
                                    <p>{{ article.safe_summary|typogrify }}</p>
                                </div><!-- /end .summary -->
                            </a>
                        </li>{% endfor %}
                    </ol>

                    {% include "_v2/utils/_paginate.html" %}

                </div><!-- /end .mod -->
            </div><!-- /end .content-main -->

            {% include "articles/_v2/_articles_aside.html" %}
{% endblock %}
