                <div class="site-search" id="search">
                    <div class="site-search-inner">
                        <form class="form-search">
                            <label class="hed-search" for="text-search">Search SOURCE:</label>
                            <p class="fields-search">
                                <input class="text-search" id="text-search" type="search" value="" />
                                <input class="btn-search icon-search" type="submit" value="Search" />
                            </p><!-- /end .fields-search -->
                        </form><!-- /end .form-search -->

                        <div class="article-tease">
                            <h2 class="hed-search">From our Archives:</h2>
                            <h3 class="hed-article-tease-search">
                                <a href="#">
                                    <img class="thumb" src="{{ static('base/_v2/img/fpo/article-thumb.jpg') }}" alt="" />
                                    From the BBC News Labs: Datastringer
                                </a>
                            </h3>
                        </div><!-- /end .article-tease -->
                    </div><!-- /end .site-search-inner -->
                </div><!-- /end .site-search -->
