{% extends "guides/_v2/_base_guides.html" %}

{% block body_class %}tmpl-article{% endblock %}

{% block page_title %}{{ guide.title }} - {{ super() }}{% endblock %}

{% block head_open_graph %}{{ super() }}
    <!-— facebook open graph tags -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ request.build_absolute_uri() }}" />
    <meta property="og:title" content="{{ guide.title }}" />
    <meta property="og:description" content="{{ guide.summary_or_description }}" />{% if guide.image %}
    <meta property="og:image" content="{{ MEDIA_URL }}{{ thumbnail(guide.image, "1200") }}" />{% endif %}
 
    <!-— twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="{{ settings.BASE_SITE_URL }}" />
    <meta name="twitter:title" value="{{ guide.title }}" />
    <meta name="twitter:description" value="{{ guide.summary_or_description }}" />{% if guide.image %}
    <meta name="twitter:image" content="{{ MEDIA_URL }}{{ thumbnail(guide.image, "600") }}" />
    <meta name="twitter:image:alt" content="{{ guide.pretty_caption }}" />{% endif %}
    <meta name="twitter:url" value="{{ request.build_absolute_uri() }}" />
    <meta name="twitter:site" value="@source" />
{% endblock %}

{% block page_main %}{# block begins inside div.page-main #}
            <div class="article-matter-front">
                <a class="hed-label" href="{{ url('guide_list') }}">Guides<span class="a11y">:</span></a>

                <h1 class="page-title-lead">{{ guide.title|typogrify }}</h1>

                <div class="article-meta">{% if guide.author_name %}
                    <p class="article-byline">Curated by {{ guide.author_name|smartypants|safe }}</p>{% endif %}

                    <p class="article-date">Posted on: <time datetime="{{ guide.pubdate.strftime('%Y-%m-%d') }}">{{ guide.pretty_pubdate|typogrify }}</time></p>
                </div><!-- /end .article-meta -->
            </div><!-- /end .article-matter-front -->
            
            
            <div class="article-main">
                {{ guide.description_or_summary|linebreaks|typogrify|safe }}
            </div>
            
            <div class="article-matter-back">
                <div class="mod article-related">
                    <h2 class="hed-label">Articles</h2>

                    <ol class="list-articles">{% for guidearticle in guide.get_live_article_set() %}
                        <li>
                            {% if guidearticle.external_title %}
                            <a href="{{ guidearticle.external_url }}">
                                <h3 class="hed-article-title">{{ guidearticle.external_title|typogrify }}</h3>
                            </a>
                            <h4 class="hed-article-subhed">{% if guidearticle.external_author_name %}By {{ guidearticle.external_author_name }}{% if guidearticle.external_organization_name %}, {{ guidearticle.external_organization_name }}{% endif %}{% endif %}</h4>
                            <div class="summary">
                                <p>{% if guidearticle.article_notes %}{{ guidearticle.article_notes|typogrify|safe }}{% endif %}</p>
                            </div><!-- /end .summary -->
                            {% else %}
                            <a href="{{ guidearticle.article.get_absolute_url() }}">
                                {% if guidearticle.article.image %}<img src="{{ MEDIA_URL }}{{ thumbnail(guidearticle.article.image, "300x200", crop="center") }}" alt="" {% if guidearticle.article.lead_image_has_border %}class="has-border" {% endif %}/>{% endif %}
                                <h3 class="hed-article-title">{{ guidearticle.article.title|typogrify }}</h3>
                            </a>
                            <h4 class="hed-article-subhed">By {% for author in guidearticle.article.get_live_author_set() %}{% if loop.last and not loop.first %} and {% endif %}<a href="{{ author.get_absolute_url() }}">{{ author.name()|smartypants }}</a>{% if not loop.last and loop.length != 2 %}, {% endif %}{% endfor %}</h4>

                            <div class="summary">
                                <span class="list-when"><span class="a11y">Posted on </span> <time datetime="{{ guidearticle.article.pubdate.strftime('%Y-%m-%d') }}">{{ guidearticle.article.pretty_pubdate|typogrify }}</time></span>
                                <p>{% if guidearticle.article_notes %}{{ guidearticle.article_notes|typogrify|safe }}{% else %}{{ guidearticle.article.safe_summary|typogrify }}{% endif %}</p>
                            </div><!-- /end .summary -->
                            {% endif %}
                        </li>{% endfor %}
                    </ol>
                </div><!-- /end .mod -->
                
                {% if guide.author_bio %}
                <div class="mod article-related">
                    <h2 class="hed-label">Curation</h2>
                    
                    <p>{{ guide.author_bio|typogrify|safe }}</p>
                </div><!-- /end .mod -->
                {% endif %}
            </div>
{% endblock %}