{% extends "guides/_v2/_base_guides.html" %}

{% block page_main %}{# block begins inside div.page-main #}

                <div class="content-main">
                    <h1 class="page-title-lead">Guides</h1>
                    <div class="mod main-lead">
                        <p>Source Guides are collections of tutorials, project discussions, and advice on topics of interest to developers and interactive designers in newsrooms.</p>

                        <p><a class="link-cta" href="{{ url('guide_suggest_guide') }}">Suggest a guide</a></p>
                    </div><!-- /end .mod.main-lead -->
                    
                    <div class="mod">
                        {#}<h2 class="hed-label">Featured Guides</h2>{#}

                        <ul class="list-promos">
                        {% for guide in object_list %}
                            <li class="src-promo">
                                <a href="{{ guide.get_absolute_url() }}">
                                    {% if guide.image %}
                                    <img src="{{ MEDIA_URL }}{{ thumbnail(guide.image, "300x200", crop="center") }}" alt="" />
                                    {% else %}
                                    <img src="{{ static('base/_v2/img/default@1x.png') }}" srcset="{{ static('base/_v2/img/default@2x.png') }} 2x" alt="" />
                                    {% endif %}
                                    <h3 class="hed-promo">{{ guide.title }}</h3>
                                </a>
                            </li><!-- /end .src-promo -->
                        {% endfor %}
                        </ul><!-- /end .list-promos -->
                    </div><!-- /end .mod -->
                </div>
{% endblock %}