body {
    background: #232C50;
    color: #FFF;
    font: normal 100%/1.5 map-get( $fonts, "sans-base" );
    font-size: calc( 14px + ( 16 - 14 ) * ( ( 100vw - 300px ) / ( 1400 - 300 ) ) );
    margin: 0;
}
.wf-active body {
    font-family: map-get( $fonts, "sans" );
}

* {
    margin-top: 0;
}



/*-

Base element styles

-*/
a {
    color: map-get( $colors, "link-default" );
    text-decoration: underline;
    transition: color 0.1s;
}
a:hover,
a:focus {
    color: map-get( $colors, "link-on" );
    text-decoration: none;
}
blockquote {
    margin: 1.5em;
}
blockquote:before,
blockquote:after {
    content: "";
    display: inline-block;
    background: #D8D8D8;
    height: 1em;
    min-width: 7em;
    width: 30%;
}
blockquote:after {
    margin-top: 1em;
}
blockquote:before {
    margin-bottom: 0.75em;
}
pre,
code {
    font-family: map-get( $fonts, "mono" );
}
code {
    color: #469A56;
    font-size: 0.8125em;
}
figure {
    margin: 0;
}
img {
    max-width: 100%;
}
pre {
    background: #545454;
    border: 6px solid #F5F5F5,
            1px solid #E2E2E2;
    color: #FFF;
    padding: 1em;
    font-size: 0.75em;
    overflow: auto;
}
@media (min-width: 50em) {
    pre {
        font-size: 16px;
        font-size: 1rem;
    }
}
@media (min-width: 60em) {
    pre {
        margin-left: -1em;
        margin-left: calc( -1 * ( 1em + 7px) );
        margin-right: -1em;
        margin-right: calc( -1 * ( 1em + 7px) );
    }
}
pre code {
    color: inherit;
    font-size: 1em;
}
ol,
p,
ul {
    margin-top: 0;
}
ol:last-child,
p:last-child,
ul:last-child {
    margin-bottom: 0;
}
ol,
ul,
ol li,
ul li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
fieldset {
    border: none;
    padding: 1em 0;
    margin-bottom: 1.5em;
}
.field-text,
textarea {
    border: 1px solid #AAA;
}
.field-text:focus,
textarea:focus {
    border-color: #555;
}
textarea {
    display: block;
    width: 100%;
}
