body {
    background: #232C50;
    color: #FFF;
    font: normal 100%/1.5 map-get( $fonts, "sans-base" );
    font-size: calc( 14px + ( 16 - 14 ) * ( ( 100vw - 300px ) / ( 1400 - 300 ) ) );
    margin: 0;
}
.wf-active body {
    font-family: map-get( $fonts, "sans" );
}

a {
    color: #469ABC;
    text-decoration: underline;
    transition: color 0.1s;
}
a:hover,
a:focus {
    color: #45BEA9;
    text-decoration: none;
}
code {
    color: #469A56;
    font-family: map-get( $fonts, "mono" );
}
figure {
    margin: 0;
}
img {
    max-width: 100%;
}
pre {
    background: #545454;
    border: 6px solid #F5F5F5,
            1px solid #E2E2E2;
    padding: 1em;
    font-size: 18px;
    font-size: 1.125rem;
    overflow: auto;
}
pre code {
    color: #FFF;
}
ol,
p,
ul {
    margin-top: 0;
}
ol:last-child,
p:last-child,
ul:last-child {
    margin-bottom: 0;
}
ul,
ul li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.page {
    margin: 0 7.7791719%;    /* 124 / 1594 */
}
.page-main,
.page-header {
    padding: 0 4.758364312267657992%;    /* 64/1345 */
}
.page-main {
    padding-bottom: 1em;
    padding-bottom: 4vw;
    padding-top: 1em;
    padding-top: 4vw;
}



/*-

Header

-*/
.page-header {
    display: flex;
}
.page-header > * {
    margin: 0;
}
.page-header a {
    display: block;
}
.site-logo {
    margin-right: 2.941176470588235294%;    /* 35/1190 */
}
.site-logo a {
    display: flex;
    height: 100%;
    vertical-align: center;
}
.site-nav,
.site-nav-links,
.site-nav-links li {
    display: flex;
}
.site-nav-links {
    margin: 0;
}
.site-nav-links li {
    margin-right: 0.5em;
}
.site-nav-links li:last-child {
    margin-right: 0;
}
.site-nav-links a {
    box-sizing: border-box;
    display: block;
    flex: 1;
    color: #FFF;
    line-height: 1;
    padding: 4.125em 1em;
    position: relative;
    text-decoration: none;
    min-width: 6.5625em;    /* 105/16 */
    text-align: center;
}
.site-nav-links a:after {
    background: #FFF;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: height 0.2s;
    width: 100%;
    z-index: 1;
}
.site-nav-links a:focus:after,
.site-nav-links a:hover:after {
    height: 0.5em;
}
.site-nav-links a.is-active {
    color: #47BFF8;
}
.site-nav-links a.is-active:after {
    background-color: #47BFF8;
    height: 1em;
    bottom: -0.5em;
}
.search-trigger {
    background-position: 50% 50%;
    background-size: 33px 33px;
    margin-left: auto;
    margin-right: -1em;
    min-width: 40px;
    padding: 1em;
    position: relative;
    text-indent: -1000em;
    transition: background-position 0.2s;
}
.search-trigger:after {
    background-position: 50% 50%;
    bottom: 0;
    content: "Close search";
    left: 0;
    position: absolute;
    right: 0;
    text-indent: -1000em;
    top: 0;
    transform: scale( 0 );
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}
.search-expanded .search-trigger:after {
    opacity: 1;
    transform: scale( 1 );
}
.search-expanded .search-trigger {
    background-position: left 50% bottom -33px;
    transition-delay: 0.2s;
}


/*-

Main section (in white)

-*/
.page-main {
    background-color: #FFF;
    color: #4D4D4D;
    position: relative;
}



/*-

Article

-*/
.article-main,
.figure,
.profile-bio {
    font-family: map-get( $fonts, "serif-base" );;
}
.wf-active .article-main,
.wf-active .figure,
.wf-active .profile-bio {
    font-family: map-get( $fonts, "serif" );;
}
.article-main h2,
.article-main h3,
.article-main h4,
.article-main h5,
.article-main h6,
.article-main blockquote {
    font-family: map-get( $fonts, "sans-base" );
}
.wf-active .article-main h2,
.wf-active .article-main h3,
.wf-active .article-main h4,
.wf-active .article-main h5,
.wf-active .article-main h6,
.wf-active .article-main blockquote {
    font-family: map-get( $fonts, "sans" );
}
.figure {
    margin-bottom: 1em;
}
.figure img {
    display: block;
    margin-bottom: 1em;
}
.figure figcaption,
.figure .caption {
    border-bottom: 1.125em solid #D8D8D8;    /* 18/16 */
    padding-bottom: 1em;
}
.figure-article-lead figcaption,
.figure-article-lead .caption {
    width: 37.829614604462474645%;    /* 373/986 */
}
.figure p {
    margin: 0;
}
.figure p+p {
    margin-top: 1em;
}


/*-

Site search

-*/
.site-search,
.site-search a {
    color: #FFF;
}
.site-search {
    background-color: #22759F;
    background-position: 100% 0;
    margin-top: 3em;
}
.site-search-inner {
    display: flex;
}
.site-search-inner > * {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    padding: 0 2em;
    width: 50%;
}
.article-tease {
    border-right: 1px solid #FFF;
}
.hed-search {
    margin-bottom: 0;
}
.form-search .hed-search {
    margin-bottom: 0.6em;
}
.hed-article-tease-search {
    margin: 0;
    font-size: 36px;
    font-size: 2.25em;
    line-height: 1.2;
}
.site-search img {
    float: right;
    margin-left: 0.5em;
}
.fields-search {
    display: flex;
}
.fields-search input {
    -webkit-appearance: none;
    border: none;
    flex: 1;
}
.text-search {
    border-radius: 0.2rem 0 0 0.2rem;
    color: #5C5C5C;
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.3;
    padding: 0.1em 0.2em;
    max-width: 84%;
}
.btn-search {
    background-color: #00314A;
    background-position: 50% 50%;
    border-radius: 0 0.2rem 0.2rem 0;
    background-size: 33px 33px;
    cursor: pointer;
    text-indent: -1000em;
    transition: background-color 0.2s, background-size 0.2s;
}
.btn-search:hover,
.btn-search:focus {
    background-color: #1896D7;
    background-size: 36px 36px;
}
/*
Enhanced version
*/
.site-search.collapsible-enhanced {
    left: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.site-search.collapsible-enhanced .collapsible-content {
    display: block;
    display: flex;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}
.site-search.collapsible-expanded .collapsible-content {
    opacity: 1;
    max-height: 20em;
}



/*-

Footer

-*/
.page-footer {
    background: #31364C;
    display: flex;
}
.page-footer a {
    color: #FFF;
}
.page-footer a:focus,
.page-footer a:hover {
    color: #45BEA9;
    text-decoration: none;
}
.page-footer > div {
    padding-bottom: 1em;
    padding-bottom: 4vw;
    padding-top: 1em;
    padding-top: 4vw;
}
.foot-source {
    background-size: 55% auto;
    background-position: 100% 100%;
    padding-left: 4.903417533432392273%;    /* 66/1346 */
    padding-right: 4.903417533432392273%;    /* 66/1346 */
    width: 50.520059435364041604%;    /* 680/1346 */
}
.foot-opennews {
    background: #232D44;
    padding-left: 5.274888558692421991%;    /* 71/1346 */
    padding-right: 6.835066864784546805%;    /* 92/1346 */
    width: 27.786032689450222882%;    /* 374/1346 */
}
.page-footer .foot-logo {
    margin: 0 0 1.3em;
}
.foot-opennews .foot-logo {
    margin-bottom: 0.8em;
}
.foot-opennews img {
    margin-top: -6px;
}
