.a11y,
.enhanced hr {
    clip: rect( 1px 1px 1px 1px ); /* IE 6/7 */
    clip: rect( 1px, 1px, 1px, 1px );
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* per https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
    width: 1px;
}

.squelch {
    display: none;
}