{% extends "people/_v2/_base_community.html" %}

{% block page_title %}Organizations - {{ super() }}{% endblock %}

{% block page_main %}{# block begins inside div.page-main #}
            <div class="content-main">
                <h1 class="page-title-lead">Organizations</h1>

                <div class="mod main-lead">
                    <p>Newsrooms, civic data orgs, universities, and more.</p>
                    
                    <form class="form-submit">
                        <fieldset>
                            <p>
                                <label for="filter">Search:</label>
                                <input id="filter" value="" type="text" />
                            </p>
                        </fieldset>
                    </form>
                </div><!-- /end .mod.main-lead -->
                
                <div class="mod">
                    <ul id="filter-list">{% for organization in object_list %}
                        <li class="profile">
                            <h3 class="profile-name">
                                <a href="{{ organization.get_absolute_url() }}">
                                    {{ organization.name|smartypants }}
                                </a>
                            </h3>
                            
                            <ul class="profile-links">
                                {% if organization.location %}<li class="has-icon icon-location">{{ organization.location }}</li>{% endif %}
                                {% if organization.twitter_username %}<li><a class="icon-twitter-alt" href="https://twitter.com/{{ organization.twitter_username }}">@{{ organization.twitter_username }}</a></li>{% endif %}
                                {% if organization.github_username %}<li><a class="icon-github" href="https://github.com/{{ organization.github_username }}">{{ organization.github_username }}</a></li>{% endif %}
                            </ul>
                        </li><!-- /end .profile-person -->{% endfor %}
                    </ul>
                </div><!-- /end .mod -->
            </div><!-- /end .content-main -->

            {% include "people/_v2/_community_aside.html" %}
{% endblock %}

{% block head_extra %}
<script type="text/javascript">
var filterFormInput = '#filter',
    listContainer = '#filter-list',
    filterItemClass = '.profile';
</script>
{% endblock %}
