{% extends "people/_v2/_base_community.html" %}

{% block page_title %}People - {{ super() }}{% endblock %}

{% block page_main %}{# block begins inside div.page-main #}
            <div class="content-main">
                <h1 class="page-title-lead">People</h1>

                <div class="mod main-lead">
                    <p>The community of developers, designers, and data analysts doing journalism through code.</p>
                    <form class="form-submit">
                        <fieldset>
                            <p>
                                <label for="filter">Search:</label>
                                <input id="filter" value="" type="text" />
                            </p>
                        </fieldset>
                    </form>
                </div><!-- /end .mod.main-lead -->
                
                <div class="mod">
                    <h2 class="hed-label">Our Community</h2>
                    
                    <ul class="list-promos" id="filter-list">
                    {% for person in object_list %}
                        <li class="src-promo list-people">
                            <a href="{{ person.get_absolute_url() }}">
                                {% if person.photo %}
                                <img src="{{ MEDIA_URL }}{{ thumbnail(person.photo, "300x200", crop="center") }}" alt="" />
                                {% else %}
                                <img src="{{ static('base/_v2/img/default@1x.png') }}" srcset="{{ static('base/_v2/img/default@2x.png') }} 2x" alt="" />
                                {% endif %}
                                <h3 class="hed-promo">{{ person.name()|smartypants }}</h3>
                                <p class="has-icon icon-company">{% for organization in person.get_live_organization_set() %}{{ organization.name|smartypants }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                            </a>
                        </li><!-- /end .src-promo -->
                    {% endfor %}
                    </ul><!-- /end .list-promos -->
                </div><!-- /end .mod -->
            </div><!-- /end .content-main -->

            {% include "people/_v2/_community_aside.html" %}
{% endblock %}

{% block body_extra %}
<script type="text/javascript">
var filterFormInput = '#filter',
    listContainer = '#filter-list',
    filterItemClass = '.src-promo';
</script>
{% endblock %}
