{% extends "people/_v2/_base_community.html" %}

{% block page_title %}{{ person.name() }}'s profile - {{ super() }}{% endblock %}

{% block head_open_graph %}{{ super() }}
<!-— facebook open graph tags -->
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri() }}" />
<meta property="og:title" content="{{ person.name() }}" />{% if person.photo %}
<meta property="og:image" content="{{ MEDIA_URL }}{{ thumbnail(person.photo, "600") }}" />{% endif %}
 
<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" value="{{ settings.BASE_SITE_URL }}" />
<meta name="twitter:title" value="{{ person.name() }}" />{% if person.photo %}
<meta name="twitter:image" content="{{ MEDIA_URL }}{{ thumbnail(person.photo, "600") }}" />
<meta name="twitter:image:alt" content="{{ person.name() }}" />{% endif %}
<meta name="twitter:url" value="{{ request.build_absolute_uri() }}" />
<meta name="twitter:site" value="@source" />
{% endblock %}

{% block page_main %}{# block begins inside div.page-main #}
            <div class="content-main">

                <a class="hed-label" href="{{ url('person_list') }}">People</a>

                <div class="profile profile-lead h-card">
                    <h1 class="page-title-lead">{% if person.photo %}
                        <img class="profile-photo u-photo" src="{{ MEDIA_URL }}{{ thumbnail(person.photo, "130") }}" alt="" />{% endif %}
                        <span class="p-name">{{ person.name()|smartypants }}</span>
                    </h1>

                    {% if person.get_live_organization_set().exists() %}
                    <p class="has-icon icon-company">{% for organization in person.get_live_organization_set() %}<a href="{{ organization.get_absolute_url() }}">{{ organization.name|smartypants }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
                    {% endif %}

                    <div class="mod main-lead profile-bio">
                        <p>{{ person.get_bio()|safe }}</p>

                        <p><a class="link-cta" href="mailto:source@opennews.org?subject=Source profile page for {{ person.name() }}">Submit profile updates or corrections</a></p>
                    </div><!-- /end .mod.main-lead.profile-bio -->

                    <ul class="profile-links">
                        {% if person.github_username %}<li><a class="has-icon icon-github" href="{{ person.github_username }}">GitHub</a></li>{% endif %}
                        {% if person.twitter_username %}<li><a class="has-icon icon-twitter-alt" href="https://twitter.com/{{ person.twitter_username }}">@{{ person.twitter_username }}</a></li>{% endif %}
                        {% if person.get_website() %}<li><a class="has-icon icon-link u-url" href="{{ person.get_website() }}">Visit website</a></li>{% endif %}
                    </ul>
                </div><!-- /end .profile -->

                <div class="mod">
                    <h2 class="hed-label">{{ person.first_name }}’s work on Source</h2>

                    {% if person.get_live_code_set().exists() %}
                    <h3 class="hed-sub">Code</h3>

                    <ol class="list">{% for code in person.get_live_code_set() %}
                        <li>
                            <a class="has-icon icon-code" href="{{ code.get_absolute_url() }}">{{ code.name|typogrify }}</a>
                        </li>{% endfor %}
                    </ol>{% endif %}

                    {% if person.get_live_article_set().exists() %}
                    <h3 class="hed-sub">Projects</h3>

                    <ol class="list">{% for article in person.get_live_article_set() %}
                        <li>
                            <a class="has-icon icon-doc" href="{{ article.get_absolute_url() }}">{{ article.title|typogrify }}</a>
                        </li>{% endfor %}
                    </ol>{% endif %}

                    {% if person.get_live_article_authored_set().exists() %}
                    <h3 class="hed-sub">Articles by {{ person.first_name }}</h3>

                    <ol class="list-articles">{% for article in person.get_live_article_authored_set() %}
                        <li>
                            <a href="{{ article.get_absolute_url() }}">
                                {% if article.image %}<img src="{{ MEDIA_URL }}{{ thumbnail(article.image, "300x200", crop="center") }}" alt="{{ article.title }}" />{% endif %}
                                <h3 class="hed-article-title">{{ article.title|typogrify }}</h3>
                                <h4 class="hed-article-subhed">{{ article.subhead|typogrify }}</h4>

                                <div class="summary">
                                    <p>{{ article.safe_summary|typogrify }}</p>
                                </div><!-- /end .summary -->
                            </a>
                        </li>{% endfor %}
                    </ol>{% endif %}
                </div><!-- /end .mod -->
            </div><!-- /end .content-main -->

            {% include "people/_v2/_community_aside.html" %}
{% endblock %}
